// Homepage Specific Styles

.homepage {
  section {
    margin-bottom: $spacer;
    color: $white;
    font-size: $h3-font-size;

    &.incubateur {
      background-color: $brandblue;
    }

    &.pepiniere {
      background-color: $yellow;
      color: $darkgray;
    }

    &.accelerateur {
      background-color: $gray;
    }

    .row {
      min-height: 320px;
      align-items: stretch;
    }
  }
}

.custom {
  &.twitter {
    padding: 0 $spacer;
    border: 1px solid $darkgray;
  }
}
