// Responsive Menu Styles

.navbar-toggler {
  position: absolute;
  top: ($grid-gutter-width / 2);
  right: ($grid-gutter-width / 2);
  width: 2.5rem;
  height: 2.25rem;
  background-color: $brandblue;
  color: $white;
}

.navbar-toggler-icon {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.nav {
  @include media-breakpoint-down(md) {
    display: block;
  }
}

#nav-modules {
  .mobile {
    border: 1px solid $brandgreen;
  }
}
